body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #010305a3, #1cecf7);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* CONTENEDOR */
.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    text-align: center;
    width: 650px;
    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
}

h1 {
    margin-bottom: 20px;
}

/* INPUT Y BOTON */
input {
    padding: 10px;
    width: 60%;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background: #4facfe;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #0077cc;
}

/* ERROR */
.error {
    color: red;
    margin-top: 10px;
}

/* CARDS */
.cards {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

/* CARD GENERAL */
.card {
    flex: 1;
    padding: 15px;
    border-radius: 10px;
    color: white;
    text-align: left;
}

/* COLORES POR TIPO */
.oficial {
    background: #2ecc71;
}

.blue {
    background: #3498db;
}

.mep {
    background: #f31f1f;
}

